attrs==23.2.0
boost_histogram==1.4.1
cabinetry==0.6.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
iminuit==2.25.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pillow==10.3.0
pyhf==0.7.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
referencing==0.34.0
rpds-py==0.18.0
scipy==1.13.0
six==1.16.0
tabulate==0.9.0
tqdm==4.66.2
